@model CodexTab
@{
    Boolean editing = false;
    if (Model == null || Model.ID == 0) {
        ViewBag.Title = "New Codex Tab";
    } else {
        ViewBag.Title = "Edit Codex Tab";
        editing = true;
    }
}

<h3>@ViewBag.Title</h3>
<hr />

<div asp-validation-summary="All"></div>

<form action="" method="post" class="row">
    <div class="col-md-6">

        @if (editing) {
            @Html.HiddenFor(x => x.ID)
        }

        @Html.FormGroupEditorFor(x => x.Name)

        <div class="form-group">
            <label asp-for="CodexSectionID" class="twr-label"></label>
            <select asp-for="CodexSectionID" asp-items="Html.GetEnumSelectList<CodexSection>()" class="twr-input">
                <option></option>
            </select>
            <help-text twr-for="CodexSectionID"></help-text>
            <span asp-validation-for="CodexSectionID"></span>
        </div>

        @Html.FormGroupEditorFor(x => x.ImageName)
        @Html.FormGroupEditorFor(x => x.SortingPriority)
        @Html.FormGroupEditorFor(x => x.GroupItemsByItemCategory)

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
