@model CodexTab
@{
    bool editing = false;
    if (Model == null || Model.ID == 0) {
        ViewBag.Title = "New Codex Tab";
    } else {
        ViewBag.Title = "Edit Codex Tab";
        editing = true;
    }
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area=""><span class="mdi mdi-home mdi-lg"></span></a></li>
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Site Management</a></li>
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="CodexTab" asp-area="Admin">Manage Codex Tabs</a></li>
    <li class="breadcrumb-item active"><span>@ViewData["Title"]</span></li>
</ol>

<h3>@ViewBag.Title</h3>
<hr />

<div asp-validation-summary="All"></div>

<form action="" method="post" class="row">
    @if (editing) {
        @Html.HiddenFor(x => x.ID)
    }
    <div class="col-md-6">
        @Html.FormGroupEditorFor(x => x.Name)
        @Html.FormGroupSelectListFor(x => x.CodexSectionID, Html.GetEnumSelectList<CodexSection>(), "")
        @Html.FormGroupEditorFor(x => x.ImageName)
        @Html.FormGroupEditorFor(x => x.SortingPriority)
        @Html.FormGroupEditorFor(x => x.GroupItemsByItemCategory)

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
