@model IEnumerable<CodexTab>
@{
    ViewBag.Title = "Manage Codex Tabs";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area=""><span class="mdi mdi-home mdi-lg"></span></a></li>
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Site Management</a></li>
    <li class="breadcrumb-item active"><span>@ViewData["Title"]</span></li>
</ol>

<div class="clearfix"></div>
<a asp-action="Edit" class="btn btn-link float-right">
    <span class="mdi mdi-fw mdi-plus-box-outline"></span>Add New Codex Tab
</a>

<h3>@ViewBag.Title</h3>
<hr />

<div class="mobile-collapse-group">
    @foreach (var group in Model.GroupBy(x => x.CodexSectionID).OrderBy(x => x.Key)) {
        <div class="mobile-collapse mobile-collapse-md">
            <h4 class="mobile-collapse-header">
                @EnumUtilities.GetDisplayName(group.Key)
            </h4>
            <div class="mobile-collapse-body">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-striped w-auto">
                        <thead class="thead-dark text-center">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(x => x.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => x.ImageName)
                                </th>
                                <th>
                                    <abbr title="@Html.DisplayNameFor(x => x.SortingPriority)">
                                        Sort
                                    </abbr>
                                </th>
                                <th>
                                    <abbr title="@Html.DisplayNameFor(x => x.GroupItemsByItemCategory)">
                                        Group
                                    </abbr>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in group.OrderBy(x => x.SortingPriority).ThenBy(x => x.Name)) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(x => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => item.ImageName)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(x => item.SortingPriority)
                                    </td>
                                    <td class="text-center">
                                        @ViewUtilities.BooleanIcon(item.GroupItemsByItemCategory)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>