@model EditPrimeReleaseViewModel
@{
    bool editing = false;
    if (Model != null && Model.PrimeRelease != null && Model.PrimeRelease.ID != 0) {
        editing = true;
        ViewData["Title"] = "Edit Prime Release";
    } else {
        ViewData["Title"] = "New Prime Release";
    }
}

<h3>@ViewData["Title"]</h3>
<hr />

<form action="" method="post" class="row">
    @if (editing) {
        @Html.HiddenFor(x => x.PrimeRelease.ID)
    }
    <div class="col-md-6">
        <div asp-validation-summary="ModelOnly"></div>

        @Html.FormGroupEditorFor(x => x.PrimeRelease.ReleaseDate, null, "Date")

        <div class="form-group">
            <label asp-for="PrimeRelease.WarframeUniqueName" class="twr-label"></label>
            <select asp-for="PrimeRelease.WarframeUniqueName" asp-items="Model.PrimeSelectList" class="twr-input">
                <option></option>
            </select>
            <help-text twr-for="PrimeRelease.WarframeUniqueName"></help-text>
            <span asp-validation-for="PrimeRelease.WarframeUniqueName"></span>
        </div>

        <div class="form-group">
            <label asp-for="PrimeRelease.Item1UniqueName" class="twr-label"></label>
            <select asp-for="PrimeRelease.Item1UniqueName" asp-items="Model.PrimeSelectList" class="twr-input">
                <option></option>
            </select>
            <help-text twr-for="PrimeRelease.Item1UniqueName"></help-text>
            <span asp-validation-for="PrimeRelease.Item1UniqueName"></span>
        </div>

        <div class="form-group">
            <label asp-for="PrimeRelease.Item2UniqueName" class="twr-label"></label>
            <select asp-for="PrimeRelease.Item2UniqueName" asp-items="Model.PrimeSelectList" class="twr-input">
                <option></option>
            </select>
            <help-text twr-for="PrimeRelease.Item2UniqueName"></help-text>
            <span asp-validation-for="PrimeRelease.Item2UniqueName"></span>
        </div>

        <div class="form-group">
            <label asp-for="PrimeRelease.Item3UniqueName" class="twr-label"></label>
            <select asp-for="PrimeRelease.Item3UniqueName" asp-items="Model.PrimeSelectList" class="twr-input">
                <option></option>
            </select>
            <help-text twr-for="PrimeRelease.Item3UniqueName"></help-text>
            <span asp-validation-for="PrimeRelease.Item3UniqueName"></span>
        </div>

        @Html.FormGroupEditorFor(x => x.PrimeRelease.VaultedDate, null, "Date")

        @Html.FormGroupEditorFor(x => x.PrimeRelease.IsReleasedFromVault)

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
    </div>
</form>