@model EditPrimeReleaseViewModel
@{
    bool editing = false;
    if (Model != null && Model.PrimeRelease != null && Model.PrimeRelease.ID != 0) {
        editing = true;
        ViewData["Title"] = "Edit Prime Release";
    } else {
        ViewData["Title"] = "New Prime Release";
    }
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area=""><span class="mdi mdi-home mdi-lg"></span></a></li>
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Site Management</a></li>
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="PrimeRelease" asp-area="Admin">Manage Prime Releases</a></li>
    <li class="breadcrumb-item active"><span>@ViewData["Title"]</span></li>
</ol>

<h3>@ViewData["Title"]</h3>
<hr />

<form action="" method="post" class="row">
    @if (editing) {
        @Html.HiddenFor(x => x.PrimeRelease.ID)
    }
    <div class="col-md-6">
        <div asp-validation-summary="ModelOnly"></div>

        @Html.FormGroupEditorFor(x => x.PrimeRelease.ReleaseDate, null, "Date")
        @Html.FormGroupSelectListFor(x => x.PrimeRelease.WarframeUniqueName, Model.PrimeSelectList, "")
        @Html.FormGroupSelectListFor(x => x.PrimeRelease.Item1UniqueName, Model.PrimeSelectList, "")
        @Html.FormGroupSelectListFor(x => x.PrimeRelease.Item2UniqueName, Model.PrimeSelectList, "")
        @Html.FormGroupSelectListFor(x => x.PrimeRelease.Item3UniqueName, Model.PrimeSelectList, "")
        @Html.FormGroupEditorFor(x => x.PrimeRelease.VaultedDate, null, "Date")
        @Html.FormGroupEditorFor(x => x.PrimeRelease.IsReleasedFromVault)

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
    </div>
</form>