@model PrimePredictionViewModel
@{
    ViewBag.Title = "Prime Release Predictions";
    int maleIndex = 0;
    int femaleIndex = 0;
}

<h3>@ViewBag.Title</h3>
<p>The average days between prime releases is currently @Html.DisplayFor(x => x.AverageDaysBetweenPrimes) days.</p>

<div class="table-responsive">
    <table class="table table-sm table-bordered w-auto">
        <thead>
            <tr>
                <th>Warframe</th>
                <th>Gender</th>
                <th>Estimated Prime Release</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.StandardWithoutPrimeWarframes.Count; i++) {
                WarframeItem warframe = null;
                if (Model.Gender == "Male") {
                    warframe = Model.StandardWithoutPrimeWarframes.Where(x => x.Sex == Model.Gender).Skip(maleIndex).FirstOrDefault();
                } else if (Model.Gender == "Female") {
                    warframe = Model.StandardWithoutPrimeWarframes.Where(x => x.Sex == Model.Gender || x.Sex == "").Skip(femaleIndex).FirstOrDefault();
                }
                Model.LastPrimeReleaseDate = Model.LastPrimeReleaseDate.AddDays(Model.AverageDaysBetweenPrimes);
                if (warframe == null) {
                    <tr><td colspan="3">Unreleased @Model.Gender Warframe</td></tr>
                } else {
                    TimeSpan time = Model.LastPrimeReleaseDate.Subtract(DateTime.Now);
                    <tr>
                        <td display-for="@warframe.Name"></td>
                        <td display-for="@warframe.Sex"></td>
                        <td>
                            @if (string.IsNullOrWhiteSpace(warframe.ReleaseDate)) {
                                <em class="text-warning">Missing Release Date</em>
                            } else {
                                <span display-for="LastPrimeReleaseDate" display-template="ShortDate"></span> <small class="text-faded">(@Math.Round(time.TotalDays) Days)</small>
                            }
                        </td>
                    </tr>
                }

                if (Model.Gender == "Male") {
                    maleIndex++;
                } else if (Model.Gender == "Female") {
                    femaleIndex++;
                }

                Model.PrimeIndex++;
                if (Model.PrimeIndex % 4 == 0) {
                    Model.Gender = "Male";
                } else if (Model.PrimeIndex % 4 == 2) {
                    Model.Gender = "Female";
                }
            }
        </tbody>
    </table>
</div>