@model EditManualItemDataViewModel
@{
    Boolean editing = false;
    if (Model == null || Model.ManualItemData == null || Model.ManualItemData.ID == 0) {
        ViewBag.Title = "New Manual Item Data";
    } else {
        ViewBag.Title = "Edit Manual Item Data";
        editing = true;
    }
}

<h3>@ViewBag.Title</h3>
<hr />

<form action="" method="post" class="row">
    <div class="col-md-6">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (editing) {
            @Html.HiddenFor(x => x.ManualItemData.ID)
        }

        <div class="form-group">
            @Html.LabelFor(x => x.ManualItemData.ItemUniqueName)
            <select class="form-control warframe-item-searcher" required data-val="true" data-val-required="An item is required"
                    name="@Html.NameFor(x => x.ManualItemData.ItemUniqueName)" id="@Html.IdFor(x => x.ManualItemData.ItemUniqueName)"
                    data-url="@Url.Action("WarframeItemsAjax", "Search")">
                <option></option>
                @if (!string.IsNullOrWhiteSpace(Model.ManualItemData.ItemUniqueName)) {
                    <option value="@Model.ManualItemData.ItemUniqueName" selected>@Model.SelectedItemName</option>
                }
            </select>
            @Html.HelpTextFor(x => x.ManualItemData.ItemUniqueName)
            @Html.ValidationMessageFor(x => x.ManualItemData.ItemUniqueName)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.ManualItemData.PropertyName)
            @Html.DropDownListFor(x => x.ManualItemData.PropertyName, new SelectList(Model.PropertyNames), "", new { @class = "form-control" })
            @Html.HelpTextFor(x => x.ManualItemData.PropertyName)
            @Html.ValidationMessageFor(x => x.ManualItemData.PropertyName)
        </div>

        @Html.FormGroupEditorFor(x => x.ManualItemData.Value)

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <div class="form-check-inline">
                <label>
                    @Html.CheckBox("addAnother") Add Another Item
                </label>
            </div>
        </div>
    </div>
</form>
