@model IEnumerable<CodexTab>
@{
    ViewBag.Title = "Manage Codex Tabs";
}

<a href="@Url.Action("EditCodexTab")">
    <span class="mdi mdi-fw mdi-plus-box-outline"></span>Add New Codex Tab
</a>

<h3>@ViewBag.Title</h3>
<hr />

<div class="table-responsive">
    <table class="table table-sm table-mobile table-lg-mobile">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.CodexSectionID)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.ImageName)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.SortingPriority)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.GroupItemsByItemCategory)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(x => x.Name)) {
                <tr>
                    <td data-label="@Html.DisplayNameFor(x => x.Name)">
                        @Html.DisplayFor(x => item.Name)
                    </td>
                    <td data-label="@Html.DisplayNameFor(x => x.CodexSectionID)">
                        @Html.DisplayFor(x => item.CodexSectionID)
                    </td>
                    <td data-label="@Html.DisplayNameFor(x => x.ImageName)">
                        @Html.DisplayFor(x => item.ImageName)
                    </td>
                    <td data-label="@Html.DisplayNameFor(x => x.SortingPriority)">
                        @Html.DisplayFor(x => item.SortingPriority)
                    </td>
                    <td data-label="@Html.DisplayNameFor(x => x.GroupItemsByItemCategory)">
                        @Html.DisplayFor(x => item.GroupItemsByItemCategory)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditCodexTab", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
