@model IEnumerable<ManualItemData>
@{
    ViewBag.Title = "Manage Manual Item Data";
}

<a href="@Url.Action("EditManualItemData")" class="btn btn-link float-right">
    <span class="mdi mdi-fw mdi-plus-box-outline"></span>Add New ManualItemData
</a>

<h3>@ViewBag.Title</h3>
<hr />

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.ItemUniqueName)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.PropertyName)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.Value)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td display-for="@item.ItemUniqueName"></td>
                    <td display-for="@item.PropertyName"></td>
                    <td display-for="@item.Value"></td>
                    <td>
                        <a asp-controller="EditManualItemData" asp-route-id="@item.ID">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
