@model IEnumerable<CodexTab>

@{
    ViewBag.Title = "Manage Item Categories";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area=""><span class="mdi mdi-home mdi-lg"></span></a></li>
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Site Management</a></li>
    <li class="breadcrumb-item active"><span>@ViewData["Title"]</span></li>
</ol>

<div class="clearfix"></div>
<a asp-action="Edit" class="btn btn-link float-right">
    <span class="mdi mdi-fw mdi-plus-box-outline"></span>Add New Item Category
</a>

<h3>@ViewBag.Title</h3>
<hr />

<div class="accordion">
    @foreach (var codexSection in Model.GroupBy(x => x.CodexSectionID)) {
        <div class="card">
            <h4 class="card-header p-0 bg-primary">
                <a href="#" data-toggle="collapse" data-target="#codex-section-card-@codexSection.Key" class="p-3 d-block text-white collapsed">
                    <span class="mdi mdi-lg mdi-fw mdi-chevron-down"></span>@EnumUtilities.GetDisplayName(codexSection.Key)
                </a>
            </h4>
            <div class="collapse" id="codex-section-card-@codexSection.Key">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>P-Category</th>
                                    <th>RegEx</th>
                                    <th>Acq</th>
                                    <th>Mas</th>
                                    <th>Sort</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CodexTab tab in codexSection.OrderBy(x => x.SortingPriority)) {
                                    if (tab.ItemCategory_Objects.SafeAny()) {
                                        <tr>
                                            <th rowspan="@tab.ItemCategory_Objects.Count" style="width:40px;vertical-align:middle;" title="@tab.Name">
                                                <img src="~/images/@tab.ImageName" style="max-height:40px" />
                                            </th>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@tab.ItemCategory_Objects[0].ID" display-for="@tab.ItemCategory_Objects[0].Name"></a>
                                            </td>
                                            <td display-for="@tab.ItemCategory_Objects[0].WarframeApiCategoryName"></td>
                                            <td display-for="@tab.ItemCategory_Objects[0].WarframeApiProductCategoryName"></td>
                                            <td>
                                                @ViewUtilities.BooleanIcon(!string.IsNullOrWhiteSpace(tab.ItemCategory_Objects[0].WarframeApiUniqueNameRegexFilter))
                                            </td>
                                            <td>
                                                @ViewUtilities.BooleanIcon(tab.ItemCategory_Objects[0].AllowAcquisition)
                                            </td>
                                            <td>
                                                @ViewUtilities.BooleanIcon(tab.ItemCategory_Objects[0].CanBeMastered)
                                            </td>
                                            <td display-for="@tab.ItemCategory_Objects[0].SortingPriority"></td>
                                        </tr>
                                        @if (tab.ItemCategory_Objects.Count > 1) {
                                            for (int i = 1; i < tab.ItemCategory_Objects.Count; i++) {
                                                <tr>
                                                    <td>
                                                        <a asp-action="Edit" asp-route-id="@tab.ItemCategory_Objects[i].ID" display-for="@tab.ItemCategory_Objects[i].Name"></a>
                                                    </td>
                                                    <td display-for="@tab.ItemCategory_Objects[i].WarframeApiCategoryName"></td>
                                                    <td display-for="@tab.ItemCategory_Objects[i].WarframeApiProductCategoryName"></td>
                                                    <td>
                                                        @ViewUtilities.BooleanIcon(!string.IsNullOrWhiteSpace(tab.ItemCategory_Objects[i].WarframeApiUniqueNameRegexFilter))
                                                    </td>
                                                    <td>
                                                        @ViewUtilities.BooleanIcon(tab.ItemCategory_Objects[i].AllowAcquisition)
                                                    </td>
                                                    <td>
                                                        @ViewUtilities.BooleanIcon(tab.ItemCategory_Objects[i].CanBeMastered)
                                                    </td>
                                                    <td display-for="@tab.ItemCategory_Objects[i].SortingPriority"></td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>