@inject IOptions<AppSettings> AppSettings
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
    <title>
        @if (ViewBag.Title == null) {
            @AppSettings.Value.AppName
        } else {
            @ViewBag.Title @: - @AppSettings.Value.AppName
        }
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="theme-color" content="#282828">
    <meta name="robots" content="noodp" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="content-language" content="en" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="manifest" href="~/site.webmanifest">

    <link rel="stylesheet" href="~/lib/bundle.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css">
</head>
<body>
    <partial name="_LayoutNav" />

    <noscript class="noscript">
        JavaScript is disabled in your browser.
        <br />
        Most of this site will not function properly without JavaScript enabled.
    </noscript>

    <partial name="_Sidebar" />

    <div id="page-loader" class="hidden">
        <span class="mdi mdi-loading mdi-2x mdi-spin-fast"></span>
    </div>

    <main class="container sidebar-padding">
        @RenderBody()
    </main>

    <footer class="container sidebar-padding">
        <hr />
        <p class="text-center">
            <environment include="Development">
                <span class="text-danger font-weight-bold">Development Server</span> -
            </environment>
            <a href="@AppSettings.Value.DevHomepage" display-for="@AppSettings.Value.DevName" rel="noopener noreferrer"></a>
            <span title="Developed by StrutTower">
                - @AppSettings.Value.AppName &copy; @DateTime.Now.Year -
            </span>
            <a asp-action="ReleaseNotes" asp-controller="Home">
                Version @ViewUtilities.GetWebsiteVersion()
            </a>
            <span id="testing"></span>
        </p>
        @if (TempData["message"] != null) {
            <input type="hidden" id="tempDataMessage" value="@TempData["message"]" />
        }
    </footer>

    <environment include="Development">
        <script src="~/lib/lib.js"></script>
        <script asp-src-include="~/js/*"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bundle.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
