@model CodexViewModel
@{
    ViewData["Title"] = "Codex";
    string missingImageUrl = Url.Content("~/images") + "/missingImage.jpg";
}

<div class="row">
    <div class="col-md-6">
        @if (Model.CodexSection != CodexSection.Fish) {
            <div class="form-group">
                <select class="form-control" id="codex-filter-dropdown" data-codex-section="@Model.CodexSection">
                    <option value="">Show All Items</option>
                    @if (Model.CodexSection == CodexSection.Equipment) {
                        <option value="showMastered">Mastered</option>
                        <option value="showNotMastered">Not Mastered</option>
                    }
                    @if (Model.CodexSection == CodexSection.Equipment ||
             Model.CodexSection == CodexSection.Mods) {
            <option value="showAcquired">Acquired</option>
            <option value="showNotAcquired">Not Acquired</option>
        }
                    @if (Model.CodexSection == CodexSection.Relics ||
             Model.CodexSection == CodexSection.Equipment) {
            <option value="showVaulted">Vaulted</option>
            <option value="showNotVaulted">Not Vaulted</option>
        }
                </select>
            </div>
        }
    </div>
    <div class="col-md-6">
    </div>
</div>

@if (Model.CodexTabs != null && Model.CodexTabs.Any()) {
    <ul class="nav nav-tabs mb-2 justify-content-around" id="codex-tab-list" role="tablist"
        style="margin-left:-12px;margin-right:-12px;">
        @foreach (CodexTab tab in Model.CodexTabs) {
            <li class="nav-item" title="@tab.Name" data-toggle="tooltip">
                <a class="nav-link px-1 px-md-2 py-1 @(tab.ID == Model.CurrentCodexTab.ID ? "active" : "")"
                   href="@Url.Action("ViewTab", new { id = (int)Model.CodexSection, tab = tab.ID })">
                    <img src="~/images/@tab.ImageName" style="max-height:40px" />
                </a>
            </li>
        }
    </ul>

    <div>
        @if (Model.WarframeItems.Any()) {
            if (Model.CodexSection == CodexSection.Fish) {
                <partial name="_Fish" model="Model" />
            } else {
                if (Model.CurrentCodexTab.GroupItemsByItemCategory) {
                    foreach (ItemCategory category in Model.CurrentCodexTab.ItemCategory_Objects.OrderBy(x => x.SortingPriority).ThenBy(x => x.Name)) {
                        IEnumerable<WarframeItem> items = Model.WarframeItems.Where(x => x.ItemCategoryID == category.ID);
                        <h5 display-for="@category.Name" class="mt-3"></h5>
                        <div class="row gutter-5">
                            @foreach (WarframeItem item in items) {
                                if (Model.ItemAcquisitions.SafeAny()) {
                                    ViewData["itemAcquisition"] = Model.ItemAcquisitions.SingleOrDefault(x => x.ItemUniqueName == item.UniqueName);
                                }
                                <partial name="_CodexItem" for="@item" view-data="@ViewData" />
                            }
                        </div>
                    }
                } else {
                    <div class="row gutter-5">
                        @foreach (WarframeItem item in Model.WarframeItems) {
                            if (Model.ItemAcquisitions.SafeAny()) {
                                ViewData["itemAcquisition"] = Model.ItemAcquisitions.SingleOrDefault(x => x.ItemUniqueName == item.UniqueName);
                            }
                            @if (Model.CurrentCodexTab.CodexSectionID == CodexSection.Mods) {
                                <partial name="_ModItem" for="@item" view-data="@ViewData" />
                            } else {
                                <partial name="_CodexItem" for="@item" view-data="@ViewData" />
                            }
                        }
                    </div>
                }
            }
        }
    </div>
} else {
    <h6 class="text-center">Nothing has been added to this page yet</h6>
}

<partial name="_ItemModal" />