@model EditManualItemDataViewModel
@{
    Boolean editing = false;
    if (Model == null || Model.ManualItemData == null || Model.ManualItemData.ID == 0) {
        ViewBag.Title = "New Manual Item Data";
    } else {
        ViewBag.Title = "Edit Manual Item Data";
        editing = true;
    }
}

<h3>@ViewBag.Title</h3>
<hr />

<div asp-validation-summary="All" class="text-danger"></div>

<form action="" method="post" class="row">
    <div class="col-md-6">
        @if (editing) {
            @Html.HiddenFor(x => x.ManualItemData.ID)
        }

        <div class="form-group">
            <label asp-for="ManualItemData.ItemUniqueName" class="twr-label"></label>
            <select class="form-control warframe-item-searcher" required data-val="true" data-val-required="An item is required"
                    name="@Html.NameFor(x => x.ManualItemData.ItemUniqueName)" id="@Html.IdFor(x => x.ManualItemData.ItemUniqueName)"
                    data-url="@Url.Action("WarframeItemsAjax", "Search")">
                <option></option>
                @if (!string.IsNullOrWhiteSpace(Model.ManualItemData.ItemUniqueName)) {
                    <option value="@Model.ManualItemData.ItemUniqueName" selected>@Model.SelectedItemName</option>
                }
            </select>
            <help-text twr-for="ManualItemData.ItemUniqueName"></help-text>
            <span asp-validation-for="ManualItemData.ItemUniqueName"></span>
        </div>

        <div class="form-group">
            <label asp-for="ManualItemData.PropertyName" class="twr-label"></label>
            <select asp-for="ManualItemData.PropertyName" asp-items="@new SelectList(Model.PropertyNames)" class="twr-input">
                <option></option>
            </select>
            <help-text twr-for="ManualItemData.PropertyName"></help-text>
            <span asp-validation-for="ManualItemData.PropertyName"></span>
        </div>

        @Html.FormGroupEditorFor(x => x.ManualItemData.Value)

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <div class="form-check-inline">
                <label>
                    @Html.CheckBox("addAnother") Add Another Item
                </label>
            </div>
        </div>
    </div>
</form>
